@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

body {
  /* background: linear-gradient(to left, #0f051f, #0c0a33, #22032c); */
  background-image: url(./images/back.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  min-height: 70px;
}

nav .navbar-brand .logo .h2 {
  margin: 0;
}

nav .navbar-brand .h4 {
  margin-bottom: 0px;
  font-weight: 900;
}

nav .navbar-brand .fs-6 {
  font-size: 0.88rem !important;
}

nav ul li {
  padding: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #4e2296;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #451296;
}

#sidebar {
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
}

#sidebar .h4 {
  font-weight: 500;
  padding-left: 15px;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding-left: 0rem;
}

#sidebar ul li {
  padding: 10px 0;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 5px solid transparent;
}

#sidebar ul li.active {
  border-left: 5px solid #ff5252;
  background-color: #44007c;
}

#sidebar ul li a {
  display: block;
}

#sidebar ul li a .fas,
#sidebar ul li a .far {
  color: #ddd;
}

#sidebar ul li a .link {
  color: #fff;
  font-weight: 500;
}

#sidebar ul li a .link-desc {
  font-size: 0.8rem;
  color: #ddd;
}

#main-content {
  padding: 30px;
  border-radius: 20px;
}

#main-content .box {
  padding: 10px;
  border-radius: 9px;
  width: 220px;
  height: 106px;
}

#main-content .box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#main-content .box .number {
  font-size: 1.5rem;
  font-weight: 200;
}

.order {
  padding: 10px 30px;
  min-height: 180px;
  border-radius: 10px;
}

.order .order-summary {
  height: 100%;
}

.bg-purple {
  background-color: #28272e;
}

.bg-light {
  background-color: #6b6b6b8f !important;
}
.bg-white {
  background-color: #28272e !important;
}
.border {
  border: 2px solid #6e6e6e !important;
}

.h5 {
  color: white;
}
.text-uppercase {
  color: white;
}
.tag {
  color: #ffffff;
}
.number {
  color: #ffffff;
}
.unit {
  color: white;
}
.rlogo {
  padding: 0 10;
}

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #28272e;
  color: #ffffff !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.footer-bg {
  background-image: url(./images/foot.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

